<nav th:fragment="navbar" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <ul class="nav-items">
        <li>
            <a href="/fairfieldlibrary/public/home" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/fairfieldlibrary/public/about" class="nav-link">About Us</a>
        </li>
        <li>
            <a href="#" class="nav-link">Virtual Tour</a>
        </li>
        <li>
            <a sec:authorize="isAuthenticated()" href="#" class="nav-link">Services</a>
        </li>
        <li>
            <a sec:authorize="isAuthenticated()" href="/fairfieldlibrary/secured/sysadmin" class="nav-link">System Administration</a>
        </li>
    </ul>
</nav>